<BarBrand>
	<BarItem>
		<BarToggler />
	</BarItem>
</BarBrand>
<Divider />
<BarMenu Class="@(parentBarState.Visible? "transition_visible":"transition_transparent")">
	<BarStart Padding="Padding.Is2.OnAll" Style="height:100%">
		<BarItem>
			<TextEdit Placeholder="Thootle text" @bind-Text="@ThootleText" />
		</BarItem>
		@*<div class="textBoxContainer">
			</div>*@
		<BarItem Style="height:calc(100% - 60px)">
			@*TODO: move this up there on BarStart*@
			<Select @bind-SelectedValues="@SelectedCategories" TValue="int" Multiple="true" Style="height:100%">
				@foreach (var category in inputCategories)
				{
					<SelectItem Style="color:rgba(255, 255, 255, 0.5)" Value="@category.Id">@category.Value</SelectItem>
				}
			</Select>
		</BarItem>
	</BarStart>
	<BarEnd Padding="Padding.Is2.OnAll">
		<BarItem>
			<div class="horizontalButtonContainer">
				<Button Disabled="@(string.IsNullOrEmpty(ThootleText) || SelectedCategories == null || !SelectedCategories.Any())" Clicked="@OnCreateButtonClicked" Block="true" Color="Color.Primary">Create</Button>
				<Button Disabled="@(string.IsNullOrEmpty(ThootleText) && (SelectedCategories == null || !SelectedCategories.Any()))" Clicked="@OnFilterButtonClicked" Block="true" Color="Color.Secondary">Filter</Button>
				<Button Disabled="@(string.IsNullOrEmpty(ThootleText) && (SelectedCategories == null || !SelectedCategories.Any()))" Clicked="@OnClearButtonClicked" Block="true" Color="Color.Warning">Clear</Button>
			</div>
		</BarItem>

	</BarEnd>
</BarMenu>
