@using Blazorise
@using Ambedo.Contract.Dtos;
@using Blazorise.States;

<BarBrand>
	<BarItem>
		<BarToggler />
	</BarItem>
</BarBrand>
<Divider />
<BarMenu Class="@(parentBarState.Visible? "transition_visible":"transition_transparent")" >
	<BarStart Padding="Padding.Is2.OnAll" Style="height:100%">
		<BarItem>
			<TextEdit Placeholder="Thootle text" @bind-Text="@thootleText" />
		</BarItem>
		@*<div class="textBoxContainer">
			</div>*@
		<BarItem Style="height:calc(100% - 60px)">
			@*TODO: move this up there on BarStart*@
			<Select @bind-SelectedValues="@selectedCategories" TValue="int" Multiple="true" Style="height:100%">
				@foreach (var category in inputCategories)
				{
					<SelectItem Style="color:rgba(255, 255, 255, 0.5)" Value="@category.Id">@category.Value</SelectItem>
				}
			</Select>
		</BarItem>
	</BarStart>
	<BarEnd Padding="Padding.Is2.OnAll">
		<BarItem>
			<div class="horizontalButtonContainer">
				<Button Clicked="@OnCreateButtonClicked" Block="true" Color="Color.Primary">Create</Button>
				<Button Clicked="@OnFilterButtonClicked" Block="true" Color="Color.Secondary">Filter</Button>
				<Button Clicked="@OnClearButtonClicked" Block="true" Color="Color.Warning">Clear</Button>
			</div>
		</BarItem>

	</BarEnd>
</BarMenu>


@code {
	bool BarVisible { get; set; }
	record ThootleCategoryInput
	{
		public int Id { get; init; }
		public string Value { get; init; }
	}
	string thootleText { get; set; }
	IEnumerable<ThootleCategoryInput> inputCategories = Enum.GetNames(typeof(ThootleCategories)).Select((name, index) => new ThootleCategoryInput { Id = index, Value = name });
	IReadOnlyList<int> selectedCategories { get; set; }
	private BarState parentBarState;
	[CascadingParameter]
	protected Theme Theme { get; set; }
	[CascadingParameter]
	protected BarState ParentBarState
	{
		get => parentBarState;
		set //not sure if this is the best way to manage this
		{
			Console.WriteLine("here we have the theme" + Theme);
			Console.WriteLine("state? " + value); // we're going to do stuff here soon
			parentBarState = value;
		}
	}

	void OnCreateButtonClicked()
	{

	}

	void OnFilterButtonClicked()
	{

	}

	void OnClearButtonClicked()
	{
		thootleText = "";
		selectedCategories = null;
	}
}
