@page "/";

<div>
	<Blazorise.ThemeProvider Theme="@theme">
		<Layout Sider="true" Loading="thootles==null || thootles.Count==0 || Loading">
			<LayoutSider>
				<LayoutSiderContent Style="z-index:1">
					<Bar Mode="BarMode.VerticalInline"
						 CollapseMode="BarCollapseMode.Small"
						 Breakpoint="Breakpoint.Desktop"
						 NavigationBreakpoint="Breakpoint.Tablet"
						 ThemeContrast="ThemeContrast.Dark">
						<SidebarForm OnFinishedPost="@OnFinishedPost" OnCreate="@OnCreate" />
					</Bar>
				</LayoutSiderContent>
			</LayoutSider>
			<LayoutContent Padding="Padding.Is2.OnAll" class="cardsContainer">
				@foreach (var thootle in thootles)
				{
					<ThootleCard Thootle="@thootle" OnDelete="@OnThootleDelete" />
				}
			</LayoutContent>
		</Layout>
	</Blazorise.ThemeProvider>
</div>
